<!DOCTYPE html>
<html>
    <head>
        <title>{{ site_name }}</title>
        <meta charset="utf-8" />

        <!-- Bulma CSS framework -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <section class="section">
        <div class="container is-fluid">
            <header>
                <h5 class="title">{{ site_name }}</h5>
            </header>

            <br />

            <div class="columns">

                <div class="column">
                    <div class="content">
                        <p>content here</p>
                    </div>
                </div>

            </div><!-- end columns -->

        </div><!-- end container -->
    </section>
    </body>
</html>

